.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 10px;
	gap: 10px;

	.display {
		display: flex;
		align-items: center;
		background-color: var(--colors-primary);
		padding: 5px;
		border-radius: var(--rad);
		box-shadow:
			0px 0px 1px var(--colors-ui-shadow-secondary) inset,
			0px 0px 15px var(--colors-shadow);
		.number {
			display: flex;
			flex-shrink: 0;
			align-items: center;
			justify-content: center;
			width: 50px;
			height: 40px;
			color: var(--colors-text-primary);
			font-weight: var(--fw-sb);
			font-size: var(--fs-sm);
			box-sizing: border-box;
			border-radius: var(--rad);
		}
	}
}
