.loader {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;

	h3 {
		font-size: var(--fs-sm);
		font-weight: var(--fw-sb);
		color: var(--colors-text-secondary);
	}

	.spinner {
		animation: spin 0.8s infinite linear;

		.fg {
			fill: rgb(255, 255, 255);
		}

		.bg {
			fill: rgba(255, 255, 255, 0.444);
		}
	}
}

.dark {
	h3 {
		font-size: var(--fs-sm);
		font-weight: var(--fw-sb);
		color: var(--colors-text-primary);
	}

	.spinner {
		.fg {
			fill: rgb(0, 0, 0);
		}

		.bg {
			fill: rgba(0, 0, 0, 0.444);
		}
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
