.categories {
	box-sizing: border-box;
	border: 1px solid var(--colors-ui-shadow-primary);
	background-color: var(--colors-ui-base-primary);
	box-shadow:
		0px 0px 5px var(--colors-ui-shadow-primary) inset,
		0px 0px 5px var(--colors-shadow);
	border: 2px solid var(--colors-ui-base-primary);
	backdrop-filter: blur(10px);
	border-radius: var(--rad);
	margin: 10px 0px;
	display: flex;
	justify-content: space-between;
	overflow: auto;
	width: 100%;
	padding: 5px;
	gap: 10px;
}

.category {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	box-sizing: border-box;
	padding: 0px 15px 0px 15px;
	height: 50px;
	color: var(--colors-text-secondary);
	font-size: var(--fs-sm);
	font-weight: var(--fw-sb);
	border-radius: var(--rad);
	transition: 0.1s all ease-in-out;
	user-select: none;
	text-wrap: nowrap;
	cursor: pointer;

	&:hover {
		opacity: var(--opacity-lw);
	}

	&:active {
		opacity: var(--opacity-md);
	}
}

.active {
	color: var(--colors-text-primary);
	background-color: var(--colors-primary);
	box-shadow:
		0px 0px 1px var(--colors-ui-shadow-secondary) inset,
		0px 0px 15px var(--colors-shadow);
}
