.divider {
	display: block;
	border: none;
}

.horizontal {
	margin: 10px 0px;
	height: 1px;
	width: 100%;
	border-top: 2px dotted var(--colors-line);
}

.vertical {
	display: block;
	margin: 0px 10px;
	width: 1px;
	height: auto;
	border-left: 2px dashed var(--colors-line);
}
