.divider {
	display: block;
	border: none;
}

.horizontal {
	margin: 10px 0px;
	width: 100%;
	border: none;
	border-top: 1px solid var(--colors-line);
}

.vertical {
	display: block;
	margin: 0px 10px;
	height: auto;
	border: none;
	border-left: 1px solid var(--colors-line);
}
