.card {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background-color: var(--colors-ui-base-primary);
	box-shadow:
		0px 0px 5px var(--colors-ui-shadow-primary) inset,
		0px 0px 5px var(--colors-shadow);
	border: 2px solid var(--colors-ui-base-primary);
	border-radius: var(--rad);
	overflow: hidden;
	user-select: none;
	padding: 5px;
	transition: all 0.2s ease-in-out;

	img {
		overflow: hidden;
		width: 100%;
		box-sizing: border-box;
		border-radius: 25px 25px 25px 25px;
		box-shadow: 0px 0px 5px var(--colors-shadow) inset;
	}

	article {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding: 10px;
		user-select: none;

		h2 {
			color: var(--colors-text-secondary);
			font-size: var(--fs-md);
			font-weight: var(--fw-sb);
		}
		p {
			color: var(--colors-text-secondary);
			font-size: var(--fs-sm);
			font-weight: var(--fw-md);
		}

		.detailsButton {
			margin-top: 10px;
			align-self: flex-end;
			justify-self: flex-end;
		}
	}

	&:hover {
		z-index: 1;
		box-shadow:
			0px 0px 5px var(--colors-ui-shadow-primary) inset,
			0px 0px 30px var(--colors-shadow);
	}
}
