.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-top: 200px;

	.title {
		font-size: var(--fs-hg);
		font-weight: var(--fw-r);
		text-align: center;
	}

	.coursesTitle {
		text-transform: uppercase;
		font-size: var(--fs-bg);
		font-weight: var(--fw-b);
	}

	.email {
		text-align: end;
	}

	.courses {
		display: grid;
		gap: 15px;
		margin-top: 20px;
		padding: 10px;
		grid-template-columns: 1fr 1fr;
		.course {
			display: flex;
			gap: 5px;
			overflow: hidden;
			border-radius: var(--rad-second);
			padding: 5px;
			background-color: var(--colors-primary);
			box-shadow: 0px 0px 10px var(--colors-shadow);
			img {
				max-height: 200px;
				border-radius: 10px 0px 0px 10px;
			}

			.details {
				border: 1px solid var(--colors-line);
				border-radius: 0px 10px 10px 0px;
				padding: 10px;
				flex-grow: 1;

				.courseTitle {
					font-size: var(--fs-sm);
					font-weight: var(--fw-b);
				}
				.progressBar {
					display: flex;
					align-items: center;
					justify-content: center;
					box-sizing: border-box;
					padding: 4px;
					margin-top: 10px;
					box-shadow: 0px 0px 10px var(--colors-shadow) inset;
					width: 100%;
					border-radius: var(--rad-second);

					.progress {
						width: 100%;
						height: 5px;
						background-color: rgb(101, 169, 0);
						border-radius: var(--rad-second);
					}
				}

				.accuracy {
					margin-top: 5px;
					font-size: var(--fs-r);
					font-weight: var(--fw-sb);
				}
			}
		}
	}
}
