.page {
	display: flex;
	flex-direction: column;
	width: 100%;

	.banner {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		user-select: none;
		gap: 20px;

		img {
			width: 100%;
			border-radius: var(--rad);
		}

		h1 {
			position: absolute;
			z-index: 1;
			padding: 20px;
			font-size: var(--fs-bg);
			color: var(--colors-text-secondary);
			font-weight: var(--fw-b);
		}
	}

	.coursesBackground {
		width: 100%;
		background: var(--colors-gradient-primary);
		background-size: 500% 500%;
		animation: gradient 60s ease-in-out infinite;
		padding-bottom: 300px;

		.title {
			text-align: center;
			color: var(--colors-text-secondary);
			font-size: var(--fs-hg);
			font-weight: var(--fw-b);
			text-transform: uppercase;
			padding: 50px;
		}

		.courses {
			margin-bottom: 10px;
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 20px;
		}
	}

	@media (max-width: 768px) {
		.banner {
			margin-top: 30px;
			h1 {
				font-size: var(--fs-bg);
			}
		}
	}

	@media (max-width: 480px) {
		.banner {
			margin-top: 10px;
			h1 {
				font-size: var(--fs-md);
			}
		}
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
