.page {
	display: flex;
	flex-direction: column;
	width: 100%;

	.banner {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;

		img {
			width: 100%;
			border-radius: var(--rad);
		}

		h1 {
			position: absolute;
			z-index: 1;
			padding: 20px;
			font-size: var(--fs-bg);
			color: var(--colors-text-secondary);
			font-weight: var(--fw-b);
		}
	}

	.coursesBackground {
		width: 100%;
		background: var(--colors-gradient-primary);

		.courses {
			margin-top: 10px;
			margin-bottom: 10px;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			gap: 20px;
		}
	}

	@media (max-width: 768px) {
		.banner {
			margin-top: 30px;
			h1 {
				font-size: var(--fs-bg);
			}
		}
	}

	@media (max-width: 480px) {
		.banner {
			margin-top: 10px;
			h1 {
				font-size: var(--fs-md);
			}
		}
	}
}
